<div class="background">
  <div id="container">
    <!--Tool container-->
    <div class="tool">
      <!--Front of the tool, contains a logo-->
      <div class="tool-front">
        <img
          src="assets/images/spleeter_logo.png"
          alt="spleeter_logo"
          style="width: 300px; height: 300px"
        />
      </div>
      <!--Back of the tool, contains a description-->
      <div class="tool-back">
        <h1>Spleeter</h1>
        <p>
          <a href="https://pypi.org/project/spleeter/">Spleeter</a> is Python
          library developed by Deezer. It can serparate the different sources
          from a given recording
        </p>
      </div>
    </div>

    <!--Tool container-->
    <div class="tool">
      <!--Front of the tool, contains a logo-->
      <div class="tool-front">
        <img
          src="assets/images/angular_logo.png"
          alt="angular_logo"
          style="width: 300px; height: 300px"
        />
      </div>
      <!--Back of the tool, contains a description-->
      <div class="tool-back">
        <h1>Angular</h1>
        <p>
          <a href="https://angular.io/">Angular</a> is a framework to design web
          and mobile apps.
        </p>
      </div>
    </div>

    <!--Tool container-->
    <div class="tool">
      <!--Front of the tool, contains a logo-->
      <div class="tool-front">
        <img
          src="assets/images/enpc_logo.png"
          alt="enpc_logo"
          style="width: 300px; height: 300px"
        />
      </div>
      <!--Back of the tool, contains a description-->
      <div class="tool-back">
        <h1>ENPC</h1>
        <p>
          We are three students from
          <a href="https://www.ecoledesponts.fr/en"> ENPC</a>. We are designing
          this website as part of the
          <a href="http://gede.enpc.fr/Programme/Fiche.aspx"> TDLOG</a> course.
        </p>
      </div>
    </div>
  </div>
</div>
