/* Background style */
.background{
  position:fixed;
  z-index:999;
  width:100%;
  height:100%;
  background-color: black;
}

/* Container properties */
#container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style the tool */
.tool{
  position:relative;
  top: 200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid dodgerblue;
  background: white;
}

/* Style the front of the tool */
.tool-front{
  position: absolute;
  top:50px;
  left:50px;
  visibility:visible;
}

/* Style the back of the tool */
.tool-back{
  position:absolute;
  visibility:hidden;
  text-align:center;
  top:50px;
  padding:10px;
}

/* Style the name */
h1{
  font-size: 2em;
  font-family: "Arial";
  color: dodgerblue;
}

/* Style the description */
p{
  font-size: 1.5em;
  font-family: "Arial";
  color: dodgerblue;
}

/* Style the link*/
a{
  color:grey;
}

a:visited{
  color:grey;
}

a:hover{
  color: dodgerblue;
}

.tool:hover{
  transform: scale(1.2,1.2);
  transition: transform 0.4s;
}

.tool:hover .tool-front{
  visibility:hidden;
}

.tool:hover .tool-back{
  visibility:visible;
}

