<!--Background container-->
<div class="background">
  <!--Description container-->
  <div class="description">
    <p>We are three students from <a href="https://www.ecoledesponts.fr/en"> ENPC</a>, designing this
      website as part of the <a href="http://gede.enpc.fr/Programme/Fiche.aspx"> TDLOG</a>
    course.</p>
  </div>
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/alice.jpeg" alt="Alice" style="width:400px;height:400px;border-radius:50%;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Alice</h1>
      <p>I'm in charge of developping the back-end of this app.</p>
    </div>
  </div>
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/louis.jpeg" alt="Louis" style="width:400px;height:400px;border-radius:50%;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Louis</h1>
      <p>I'm in charge of linking the back-end and the front-end of this app.</p>
    </div>
  </div>
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/ruben.jpeg" alt="Ruben" style="width:400px;height:400px;border-radius:50%;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Ruben</h1>
      <p>I'm in charge of developping the front-end of this app.</p>
    </div>
  </div>
</div>
