<div class="background">
  <div id="container">
    <!--Flip card container-->
    <div class="flip-card">
      <div class="flip-card-inner">
        <!--Front of the card, contains a profile picture-->
        <div class="flip-card-front">
          <img
            src="assets/images/alice.jpeg"
            alt="Alice"
            style="width: 400px; height: 400px"
          />
        </div>
        <!--Back of the card, contains a description-->
        <div class="flip-card-back">
          <h1>Alice</h1>
          <p>I'm in charge of developping the back-end of this app.</p>
        </div>
      </div>
    </div>

    <!--Flip card container-->
    <div class="flip-card">
      <div class="flip-card-inner">
        <!--Front of the card, contains a profile picture-->
        <div class="flip-card-front">
          <img
            src="assets/images/louis.png"
            alt="Louis"
            style="width: 400px; height: 400px"
          />
        </div>
        <!--Back of the card, contains a description-->
        <div class="flip-card-back">
          <h1>Louis</h1>
          <p>I'm in charge of developping the front-end of this app.</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <!--Front of the card, contains a profile picture-->
        <div class="flip-card-front">
          <img
            src="assets/images/ruben.jpeg"
            alt="Ruben"
            style="width: 400px; height: 400px"
          />
        </div>
        <!--Back of the card, contains a description-->
        <div class="flip-card-back">
          <h1>Ruben</h1>
          <p>I'm in charge of developping the front-end of this app.</p>
        </div>
      </div>
    </div>
  </div>
</div>
