/*Top navigation positioning*/
#top_navigation{
  display: flex;
  justify-content: flex-end;
}
/*Style all tabs*/
tab
{
  width: 20%;
  height: 100px;
  max-width: 100%;
  max-height:100px;
  font-size: 1.5em;
  font-family: "Arial";
  color:slategrey;
  text-align: center;
  background-color: white;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: solid white 10px;
  cursor: pointer;
}
/*Style the first tab*/
tab:nth-child(1)
{
  width: 60%;
  font-size: 2.5em;
  font-weight: bold;
  color:slategrey;
  text-align: left;
}
/*Style tabs when the mouse is over them*/
tab:hover{
  border-bottom: solid dodgerblue;
  color:dodgerblue;
}
/*Style tabs when they are active*/
.active, tab.active, active:hover{
  outline: none;
  color:white;
  background-color: dodgerblue;
}
/*Prevent an ugly border from appearing*/
tab:active{
  outline: none;
}


