<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>TDLOG PROJECT</title>
</head>
<body>
<!--Top bar navigation with routing-->
<div id="top_navigation">
  <div class="tab" routerLink="/home" routerLinkActive="active">ORPHEUS - A TDLOG Project</div>
  <div class="tab" routerLink="/presentation" routerLinkActive="active">What is Orpheus ?</div>
  <div class="tab" routerLink="/programmers" routerLinkActive="active">Who are we ?</div>
  <div class="tab" routerLink="/split" routerLinkActive="active" >Let's split !</div>
</div>
</body>
<!--Command for routing-->
<router-outlet></router-outlet>
</html>


