/*Top navigation positioning*/
#top_navigation{
  display: flex;
  justify-content: flex-end;
}
/*Style all tabs*/
.tab {
  height: 100px;
  width: 10%;
  padding:1%;
  font-size: 1.5em;
  font-family: "Arial", serif;
  color:slategrey;
  text-align: center;
  background-color: white;
  border-bottom: solid white 10px;
  cursor: pointer;
}
/*Style the first tab*/
.tab:nth-child(1) {
  flex: 1;
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
}
/*Style tabs when the mouse is over them*/
.tab:hover{
  border-bottom: solid dodgerblue;
  color:dodgerblue;
}
/*Style tabs when they are active*/
.active, .tab.active{
  outline: none;
  color:white;
  background-color: dodgerblue;
}
/*Prevent an ugly border from appearing*/
.tab:active{
  outline: none;
}


