<div class="background">
  <!--Logo container-->
  <div id="logo_container">
    <!--Blue circle container-->
    <div class="circle">
      <!--Letter container-->
      <div id="name_container">
        <div class="letter"><h1>O</h1></div>
        <div class="letter"><h1>R</h1></div>
        <div class="letter"><h1>P</h1></div>
        <div class="letter"><h1>H</h1></div>
        <div class="letter"><h1>E</h1></div>
        <div class="letter"><h1>U</h1></div>
        <div class="letter"><h1>S</h1></div>
      </div>
    </div>
  </div>
</div>
