<!--Background container-->
<div class="background">
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/flask_logo.png" alt="flask_logo" style="width:300px;height:300px;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Flask</h1>
      <p><a href="https://flask.palletsprojects.com/en/1.1.x/">
        Flask</a> is a framework to design web-applications using Python.</p>
    </div>
  </div>
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/spleeter_logo.png" alt="spleeter_logo" style="width:300px;height:300px;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Spleeter</h1>
      <p><a href="https://pypi.org/project/spleeter/">Spleeter</a> is Python library developed by Deezer.
        It can serparate the different sources from a given recording.</p>
    </div>
  </div>
  <!--Card container-->
  <div class="card">
    <!--Front of the card-->
    <div class="card-front">
      <img src="assets/images/angular_logo.png" alt="angular_logo" style="width:300px;height:300px;">
    </div>
    <!--Back of the card-->
    <div class="card-back">
      <h1>Angular</h1>
      <p><a href="https://angular.io/">Angular</a> is a framework to design web and mobile apps.</p>
    </div>
  </div>
</div>

